<div class="form">
<h1>Add New Category</h1>

<%= form_with(model: @group, url: groups_path) do |form| %>

    <div class=" mb-3">
    <%= form.label :name,class: "form-label"  %>
    <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :icon, class: "form-label" %> 
    <%= form.text_field :icon, class: "form-control" %>
    </div>
   
<div class="btn-container">
<p><%=form.submit "Add New", class: "btn"%></p>
<%= link_to "Back", groups_path, class: "btn back-btn" %>
</div>
<% end %>
<%= flash[:error] %>
 </div>
