<div class="transaction">
<div class="card mb-4">
<div class="card-body amount-card">
<p>Total Amount</p>
<p class='tot-amount'>$ <%= @group.total_amount %></p>
</div>
</div>
<% if @entities.any? %>
  <% @entities.each do |entity| %>
    <div class="card mb-4">
      <div class="card-body amount-card">
        <p class="cat-name"><%= entity.name %></p>
        <p class="cat-amount">$<%= entity.amount %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <div>
    <p colspan="2" class="text-center border text-gray-600 p-1">No Transaction.</p>
  </div>
<% end %>
<div class="d-flex justify-content-center gap-2">
  <%= link_to "New Transaction", new_group_entity_path(@group), class: "btn btn-outline-success"%>
  <%= link_to "Back", groups_path, class: "btn back-btn btn-outline-success" %>
</div> 
</div>
